// @media (min-width: 1025px) {
//     .banner {
//         height: 100vh;

//         video {
//             height: 100vh;
//         }
//     }
// }

@media(min-width: 1600px) {
    // .banner {
    //     height: a;

    //     video {
    //         height: 800px;
    //     }
    // }

    .banner-object {
        margin: -480px -380px -380px -100px;
    }

    .banner-main-bg{
        background-position-y: 5px !important;
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {
    .cchat-thumbnail {
        height: 322px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .cchat-thumbnail {
        height: 260px;
    }

    .cchat-box i {
        font-size: 65px;
    }
}
@media (max-width: 1400px) {
    .banner-main-content ul {
        max-width: 81%;
        li{
            font-size: 20px;
        }
    }
}
@media (max-width: 1200px) {
    .redefining-text h2 {
        font-size: 114px;
    }

    .navbar .navbar-nav .nav-link {
        padding-right: 10px;
        padding-left: 10px;
    }

    .banner-text h1 {
        font-size: 46px;

        br {
            display: none;
        }
    }

    .banner-text p {
        font-size: 20px;
        line-height: 1.3;
    }

    .pclinical h3 {
        font-size: 46px;
    }

    .fcancervax-box {
        padding: 40px 5%;
    }

    .ceochats-citem {
        margin: 0 16px;
    }

    .abtBanner-text h1 {
        font-size: 26px;
    }

    .process-heading h2 {
        font-size: 200px;
    }

    .pstep {
        margin-bottom: 48px;
    }

    .news-item h3 {
        font-size: 22px;
    }

    .investor-banner {
        padding: 140px 0px 20px 0px;
    }

    // .banner {
    //     height: 910px;
    // }

    .redefining-text span {
        text-indent: 7px;
    }

    // .abtBanner {
    //     height: 680px;
    // }

    .banner-main-content {
        max-width: 530px;
        padding-top: 50px;
    }

    .banner-main-content h1 {
        font-size: 50px;
    }

    .banner-main-content p {
        font-size: 24px;
    }

    // .banner-main {
    //     margin-top: 74px;
    // }

  

    .nav-section {
        top: 136px;
    }
    .techBanner .techBanner-text h1 {
        font-size: 72px;
    }
    .cancer-treatment .ct-heading h2 {
        font-size: 50px;
        padding-block: 30px;
    }
    .cancer-treatment .ct-heading h3 {
        font-size: 38px;
    }
    .cancer-treatment .ct-heading p {
        padding-block: 10px 50px;
        font-size: 20px;
    }
    .cancer-treatment::after {
        bottom: 193px;
    }
    .problem-content h3 {
        font-size: 45px;
    }
    .problem-content li {
        font-size: 18px;
        padding-left: 20px;
    }
    .problem h2 {
        font-size: 50px;
    }
    .solution-content h3 {
        font-size: 45px;
    }
    .solution-content li{
        font-size: 18px;
        padding-left: 20px;
    }
    .solution-content h6 {

        font-size: 26px;
    }
    .remission h3 {
        font-size: 45px;
margin-bottom: 30px;
    }
    .remission h6 {
        font-size: 28px;
    }
    .reducing-toxicity h3{
        font-size: 45px;
    }
    .reducing-toxicity h5{
        font-size: 26px;
    }
    .reducing-toxicity p{
        font-size: 18px;
    } 
    .reducing-toxicity{
        padding-block: 96px;
    }
    .cold-tumors h5{
        font-size: 45px;
        margin-bottom: 16px;
    }
    .cold-tumors p {
        font-size: 18px;
    }
    .cold-tumors h3 {
        font-size: 45px;
    }
    .artificial-intelligence .ai-img{
        max-width: 851px;
        margin-inline: auto;
        margin-block: 57px 89px;
    }
    .artificial-intelligence h3{
 font-size: 45px;
    }
    .artificial-intelligence p {
        font-size: 18px;
    }
   
}

// @media (min-width: 991px) and (max-width: 1024px) {
//     .banner {
//         height: 765px;
//     }
// }

@media (max-width: 991px) {
    .redefining-text h2 {
        font-size: 85px;
    }

    .redefining-text {
        margin-bottom: -30px;
        bottom: -30px;
    }

    .navbar-collapse {
        // background: rgb(23, 23, 23);
        background-color: #fff;
        // box-shadow: 0 10px 50px rgba(0, 0, 0, .05);
        padding-right: 15px;
        padding-left: 15px;
    }



    .fcancervax-img {
        text-align: center;
    }

    .fcancervax-text {
        padding: 20px 0;
    }

    .worldhealth-text {
        max-width: 100%;
    }

    .worldhealth-text p {
        max-width: 100%;
        padding-left: 0;
    }

    .footer-top {
        .row {
            .col-lg-6 {
                &:first-of-type {
                    padding-bottom: 35px;
                    border-bottom: 1px solid rgba(255, 255, 255, .1607843137);
                    margin-bottom: 35px;

                }
            }
        }
    }

    .abtinfo-wrap,
    .process-heading {
        flex-direction: column;
    }

    .process-heading h2 {
        max-width: 100%;
        font-size: 120px;
        line-height: 1;
        margin-bottom: 32px;
    }

    .pipelinec-img {
        margin-bottom: 28px;
        text-align: center;
    }

    .mcontent-img {
        margin-bottom: 32px;
        text-align: center;
    }

    .mcta-bg {
        padding: 70px 0;
    }

    .mcta-text {
        padding: 0 70px;
    }

    .news-item {
        min-height: auto
    }

    .lg-cchat-box {
        margin-bottom: 32px;
    }

    .invest-video {
        margin-top: 175px;
    }

    .invest-text {


        p {
            max-width: 100%;
        }
    }

    .invest {
        padding: 100px 0;
    }

    .contact-form {
        margin-top: 32px;
    }

    .banner-object {
        margin: -125px -284px 0 170px;
        position: absolute;
        top: 0;
    }

    .banner-text {
        text-align: left;
        position: relative;
        z-index: 1;
        margin-bottom: 10px;
    }

    .banner-video {
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
    }

    // .banner {
    //     height: 1250px;
    // }

    // .banner-text {
    //     padding-top: 70px;
    // }

    .nCommentary .cchat {
        margin-bottom: 40px;
    }

    .immAbout {
        text-align: left;
    }

    .immCTh__content {
        margin-top: 42px;

        h3 {
            color: #39B4B0;
        }
    }

    .immtypes__item {
        .row {
            flex-direction: column-reverse;
        }
    }

    .immtypes__img {
        text-align: center;
        margin-bottom: 22px;
    }

    .immVideos__wrap {
        padding: 0;
    }

    .socialHeader {
        position: static;
        padding: 0 0 16px;
    }

    .tSocial {
        text-align: left;
    }

    .inPost-inow-p {
        display: none;
    }

    .inPost-inow {
        position: fixed;
        bottom: 0;
        top: unset;
        width: 100%;
        left: 0;
        border-radius: 0;
        z-index: 1;
        padding: 20px;
        box-shadow: -0.217625px -6.99662px 28px rgba(0, 0, 0, 0.03), -0.141053px -4.53484px 16.3981px rgba(0, 0, 0, 0.0209549), -0.0838259px -2.69499px 8.91852px rgba(0, 0, 0, 0.0158889), -0.043525px -1.39932px 4.55px rgba(0, 0, 0, 0.0130312), -0.0177324px -0.570095px 2.28148px rgba(0, 0, 0, 0.0106111), -0.00403009px -0.129567px 1.10185px rgba(0, 0, 0, 0.00685764);
        background: #FFFFFF;
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        padding: 20px 0;
        -webkit-box-pack: space-around;
        -ms-flex-pack: space-around;
        -webkit-justify-content: space-around;
        justify-content: space-around;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .inPost-inow-btn {
        box-shadow: none;
        border-radius: 0;
        padding: 0;

        a {
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 171px;
            border-radius: 15px;
        }
    }

    .inPost-inow-btn a span {
        display: none;
    }

    .inPost-inow-share {
        span {
            font-size: 16px;
            color: #565656;
            line-height: 22px;
        }
    }

    .pC-pipeline-img {
        margin-top: 28px;
    }

    .invest-text {
        margin-top: 150px;
    }

    .banner-video {
        position: relative;
        margin: 30px auto;
    }

    .banner-text p {
        max-width: 100%;
    }

    .abtBanner {
        height: auto;
        padding-top: 120px;
    }

    .abtBanner-text h1 {
        font-size: 20px;
    }

    .banner-announcement {
        max-width: 100%;
        margin-top: 20px;
    }

    .invest-bar-text {
        justify-content: flex-start;
    }

    .heroSection .video-section {
        max-width: 100%;
    }

    .dev-partners-img {
        margin-bottom: 32px;
    }
    .banner-main-content ul {
        max-width: 50%;
    }
    .footer-linkhead {
        margin-top: 32px;
    }
    .cancer-treatment .ct-img{
        max-width: 525px;
        margin: auto;
        margin-bottom: 50px;
    }
    .artificial-intelligence {
        padding-block: 70px 110px;
    }
    .cancer-treatment .ct-heading h2 {
        font-size: 45px;
    }
    .cancer-treatment .ct-heading h3 {
        font-size: 35px;
        padding-bottom: 0;
    }
    .cancer-treatment .ct-heading p{
        padding-top: 0;
    }
    .cancer-treatment .ct-heading p{
        padding-bottom: 25px;
    }
    .cancer-treatment .ct-heading h2 {
        padding-bottom: 0;
        margin-bottom: 16px;
    }

    .cancer-treatment .ct-content p {
        font-size: 18px;
        padding-bottom: 10px;
    }
   
    .artificial-intelligence h3 {
        font-size: 35px;
    margin-bottom: 24px;
    }
    .cancer-treatment {
        padding-bottom: 78px;
    }
    .solution-step {
        padding-top: 50px;
    }
    .problem h2{
        text-align: center;
        padding-top: 40px;
    }
    .cancer-treatment::after {
        bottom: 663px;
        height: 100px;
    }
    .solution-step h6{
        padding-left: 0;
    }
    .dev-milestones{
        .row{
           & > div{
            &:not(:first-child){
                margin-top: 52px;
            }
           }
        }
    }
}

@media (max-width: 767px) {

    .banner-main-bg {
        height: 480px;
        padding-top: 0;
    }

    .banner-main {
        padding-top: 48px;
        background: #fff;
    }

    .banner-main-content {
        padding-top: 0;
    }

    .redefining-text h2 {
        font-size: 64px;
    }

    .cancervax-counter .counter {
        font-size: 210px;
    }

    .worldhealth-counter img {
        max-width: 100%;
        margin-left: 0;
    }

    .team-box {
        width: 100%;
        margin: 0 auto 32px;
    }

    .team-box-img {
        height: auto;
    }

    .ceochats-citem p {
        margin: 16px 0;
        font-size: 15px;
        line-height: 1.3;
    }

    .ceochats {
        padding: 60px 0;
    }

    .abtinfo p {
        line-height: 1.3;
    }

    .process-object {
        display: none;
    }

    h1,
    h2 {
        font-size: 50px;
    }



    .news-detail {
        padding-top: 110px;
        margin-top: 0;
    }

    .news-detail .post-title h1 {
        font-size: 23px;
        line-height: 1.3;
        margin-bottom: 24px;
    }

    .news-detail h3 {
        color: #2abac2;
        font-size: 18px;
        line-height: 1.3;
    }

    .news-detail p {
        font-size: 15px;
        line-height: 1.3;
    }

    .investor-banner .keywords {
        min-height: 65px;
    }

    .investor-banner {
        padding-top: 80px;
    }

    .cchat-thumbnail {
        height: auto;
    }

    .abtBanner {
        position: relative;
        margin-top: 0;
        padding: 100px 0;
    }
    .techBanner, .pipelinebanner, .marketbanner, .cchatsbanner{
        margin-top: 0;
        padding: 100px 0;
    }
   
    .invest-bar-text a {
        flex: 0 0 auto;
    }
    .invest-bar-content{
        justify-content: center;
    }
   

    .banner-main {
        margin-top: 0;
    }

    .mobile-banner-content {
        box-shadow: 0px -20px 20px 20px #fff;
        margin-bottom: -50px;
    }

    .mobile-banner-content .banner-main-content {
        top: -50px;
        position: relative;
    }



    .nav-section {
        top: 65px;
    }
    .banner-main-content ul {
        max-width: 100%;
    }
    .coming-soon {
        padding: 70px 0;
    }
    .coming-soon-title {
        font-size: 48px;}
        .coming-soon-content {
            font-size: 28px;}
            .coming-soon p {
                font-size: 18px;
            line-height: 1.2;}
            .coming-soon form{
                max-width: 370px;
            }
            .cancer-treatment::after {
                bottom: 812px;
            }
            .cancer-treatment .ct-heading h2 {
                font-size: 35px;
                margin-bottom: 0;
            }
            .cancer-treatment .ct-heading h3 {
                font-size: 26px;
                margin-bottom: 16px;
            }
            .cancer-treatment .ct-heading p {
                font-size: 16px;
                line-height: normal;
            }
            .solution {
                padding-block: 80px 80px;
            }
            .treatment h3 {
                font-size: 40px;
                margin-bottom: 0;
            }
            .treatment-item h4 {
                font-size: 32px;
                margin-bottom: 0;
            }
            .treatment{
                padding-block: 70px;
            }
            .artificial-intelligence li {
                font-size: 18px;
                line-height: 22px;
            }
          
            .techBanner .techBanner-text h1, .abtBanner-title h1,.pipelinebanner h1, .immTitle h1, .cchatsbanner h1 {
                font-size: 64px;
            }
            .dev-milestone-img{
                height: auto;
            }
}

@media only screen and (max-width: 767px) and (orientation : landscape) {
    // .banner {
    //     height: 1010px;
    // }

    .pclinical-video {
        width: 1000px;
    }
}

@media only screen and (max-width: 991px) and (orientation : landscape) {
    .priceCardmob {
        display: none;
    }

    .nav-section {
        display: none;
    }

    .navbar-collapse {
        max-height: 200px;
        overflow-y: auto;
    }

}


@media (max-width: 576px) {
    .navbar {
        padding: 10px;
    }

    .navbar .navbar-brand {
        max-width: 210px;
    }

    .banner-text h1 {
        font-size: 32px;
    }


    .newsletter p {
        text-align: center;
        font-size: 20px;
    }

    .banner .developed-logo {
        transform: none;
        z-index: 1;
        position: relative;
        left: 0;
        bottom: 30px;
        margin-top: 60px;
        justify-content: center;
    }

    .redefining-text h2 {
        font-size: 42px;
        letter-spacing: 0;
    }

    .redefining-text {
        margin-bottom: -16px;
        bottom: -16px;
    }

    .pclinical h3 {
        font-size: 30px;
    }

    .worldhealth-text h3 {
        font-size: 40px;
        line-height: 1;
    }

    .cancervax-counter .counter {
        font-size: 160px;
    }

    .cancervax-counter p {
        font-size: 12px;
    }

    .worldhealth-text p {
        margin-top: 24px;
    }

    .ceochats-carousel a .carousel-play {
        font-size: 44px;
    }

    .footer-link {
        margin-top: 36px;
    }

    .footer .links.no-head {
        margin-top: 78px;
    }

    .newshighlight .news-img {
        height: 230px;
    }

    .newshighlight {
        padding: 42px 0 0;
    }

    .newshighlight h4 {
        margin-bottom: 42px;
    }

    .fcancervax-text p {
        font-size: 16px;
        line-height: 1.36em;
        margin-bottom: 0;
        color: #ababab;
    }

    .fcancervax.girlfCancervax {
        margin-top: 30px;
    }

    .fcancervax h4 {
        padding-top: 0;
    }

    .fcancervax-text {
        padding-bottom: 0;
    }

    .mfp-iframe-holder .mfp-content {
        max-width: 100%;
    }

    .footer-bottom p {
        text-align: center;
    }

    .pipelinec-text h3 {
        font-size: 26px;
    }

    .pipelinec-text p {
        line-height: 1.3;
    }

    .pipeline-steps {
        padding: 70px 0;
    }

    .graph {
        padding: 50px 0;
    }

    .newsletter button {
        font-size: 15px;
        width: 120px;
    }

    .mcta-bg {
        padding: 30px 0;
    }

    .mcta-text {
        padding: 0 30px;
    }

    .mcta-text h2 {
        font-size: 30px;
        font-weight: 500;
        line-height: 1.2;
    }

    .mcta {
        padding: 80px 0;
    }

    .mcta-text p {
        font-size: 20px;
        margin-bottom: 0;
        line-height: 1.5;
    }

    .news-item {
        padding: 16px;
    }

    .news-item h3 {
        font-size: 18px;
    }

    .news-item span {
        font-size: 14px;
    }

  

    .podcast-detail {
        margin-top: 0;
    }

    .abtceo {
        padding: 70px 0;
    }

    .abtceo-wrap {
        flex-direction: column;
    }

    .abt-ceo-img {
        max-width: 280px;
    }

    .cchat p {
        margin-top: 20px;
        font-size: 21px;
        line-height: 1.3;
    }

    .cchats {
        padding-bottom: 80px;
    }

    .invest-video {
        margin-top: 130px;
    }

    .invest-text p {
        max-width: 100%;
        font-size: 16px;
    }

    .contact-title h1 {
        font-size: 48px;
    }

    .contact {
        padding: 100px 0;
    }

    .banner-video .theme-btn {
        padding: 0.5em 1em;
        top: 50%;
        transform: translate(-50%, -50%);
        bottom: unset;
    }



    .ceochats-citem a .carousel-play {
        font-size: 60px;
    }

    .pclinical {
        padding: 114px 0px 62px 0px;
    }

    .pclinical-video {
        width: 700px;
    }

    .redefining-text span {
        text-indent: 2px;
    }

    .nCommentary-heading h3 {
        font-size: 20px;
    }

    .nCommentary-heading a {
        font-size: 15px;
    }

    .nCommentary-heading {
        margin-bottom: 30px;
    }

    .nCommentary {
        padding: 50px 0;
    }

    .immTitle {
        h1 {
            font-size: 38px;
        }
    }

    .immAbout h2 {
        font-size: 24px;
        line-height: 1.4;
        margin-bottom: 22px;
    }

    .immAbout p,
    .immCTh__content p,
    .immnewpyramid p,
    .immtypes__heading p,
    .immtypes__content p,
    .immtypes__content li, .nCommentary .cchat p {
        font-size: 20px;
        line-height: 1.5;
    }

    .immAbout {
        padding: 32px 0;
    }

    .immCTh__content h3,
    .immnewpyramid h4,
    .immtypes__heading h4,
    .immtypes__content h5 {
        font-size: 24px;
        line-height: 1.5;
    }

    .immtypes__heading h4 {
        margin: 0;
    }

    .immnewpyramid h4 {
        margin-bottom: 32px;
    }

    .immVideos {
        .cchat-box i {
            font-size: 75px;
        }
    }

    .immtypes__content h5 {
        margin-bottom: 16px;
    }

    #short-videos.nCommentary .cchat-thumbnail {
        height: 620px;
    }

    .shortVideos {
        .cchat-thumbnail {
            height: 620px;
        }
    }

    .invest-bar {
        padding: 0 24px;
    }

    .invest-bar-text p {
        font-size: 18px;
    }

    .invest-bar-text a {
        font-size: 14px;
    }

    .invest-video iframe {
        height: 210px;
    }

    .inPost-box h1 {
        margin: 8px 0;
        font-size: 24px;
        line-height: 31px;
    }

    .inPost-box {
        padding: 40px 24px 24px;
    }

    .inPost-img {
        padding-top: 0;
    }

    .perks iframe {
        height: 260px;
    }

    .perks {
        padding: 60px 0 0;
    }

    .pC-pipeline-item h4 {
        color: #37c3bf;
        font-size: 28px;
    }

    .pC-pipeline-item p,
    .pC-pipeline-text .count-list li {
        font-size: 16px;
        line-height: 1.4em;
    }

    .pC-pipeline-item .box-list {
        padding: 26px;
    }

    .box-list li {
        position: relative;
        font-size: 16px;
    }

    .pC-pipeline-item h5 {
        font-size: 22px;
    }

    .pC-pipeline {
        padding: 50px 0;
    }

    .box-list li+li {
        margin-top: 16px;
    }

    .pC-pipeline .pC-pipeline-item+.pC-pipeline-item {
        margin-top: 40px;
    }

    .devPlan-wrap {
        padding: 32px;
    }

    .devPlan-item {
        padding: 24px 0;
    }

    .devPlan-heading h3 {
        font-size: 32px;
    }

    .devPlan-graphic {
        margin-bottom: 40px;
    }

    .ctreament-wrap {
        padding: 32px;
    }

    .market-opp-box {
        margin-top: 24px;
        display: block;
    }

    .market-opp h4 {
        line-height: 1.1;
        font-size: 26px;
    }

    .ctreament-heading h3 {
        font-size: 36px;
        line-height: 1.1;
    }

    .podcast-detail {
        padding: 110px 0 70px;
    }

    .podcast-detail h1 {
        font-size: 30px;
    }

    .podcast-video iframe {
        height: 260px;
    }

    .invest-bar-text-wrap {
        gap: 5px;
    }

    .invest-text {
        margin-top: 110px;
    }

    .billion-text sup {
        font-size: 12px;
        top: -0.5em;
    }

    .banner-announcement,
    .banner-video-top {
        border: 10px solid #1d8f97;
        padding: 12px;
    }

    .banner-announcement h4 {
        margin-top: 0 !important;
    }
    .worldhealth-n p, .market-opp p{
        font-size: 20px;
    }
    .banner-announcement p {
        margin-top: 12px;
    }

    .banner-video-top {
        margin-top: 0;
        padding: 0;
    }

    .banner-video-head {
        font-size: 20px;
    }

    .invest-bar-text {
        flex-direction: column;
        gap: 4px;
    }

    .invest-bar-text a {
        padding: 5px 30px;
    }

    .priceCardmob {

        .offerInvest a,
        .offerInvestTwo.green-btn a {
            padding: 6px 10px;
            font-size: 14px;

            span {
                font-size: 9px;
                line-height: 1;
            }

        }
    }

    .priceCardmob .offerInvestTwo.green-btn a {
        font-size: 11px;
    }

    .invest-modal .modal-body h3 {
        font-size: 22px;

        br {
            display: none;
        }
    }

    .invest-modal .modal-content {
        padding: 12px;
    }

    .invest-modal .form-control {
        width: 100%;
    }

    .invest-modal button[type=submit] {
        font-size: 22px;
    }

    .pi-ty h1 {
        font-size: 32px;
        margin-bottom: 12px;
    }

    .pi-ty p {
        font-size: 20px;
        line-height: 1.4;
    }

    .pi-ty,
    .pi-ty-btns,
    .pi-invest-main {
        padding: 40px 0;
    }

    .pi-invest-main h2 {
        font-size: 28px;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .pi-invest-content h3 {
        font-size: 20px;
    }

    .pi-invest-step {
        margin-top: 32px;
    }

    .pvt-page h2 {
        font-size: 30px;
        margin-top: 24px;
    }

    .pvt-page h1 {
        font-size: 53px;
    }

    .pvt-page p {
        margin-top: 16px;
    }

    // .banner {
    //     height: 1100px;
    // }

    .banner__content {
        padding: 24px 0;
    }

    .banner-main {
        padding-top: 45px;
    }

    .banner-main-bg {
        height: 245px;
    }

    .banner-main-content {
        position: relative;
        top: -28px;
    }

    .banner-main-content h1 {
        font-size: 33px;
    }

    .banner-main-content p {
        font-size: 18px;
        line-height: 1.3;
        font-weight: 600;
        margin-top: 0;
    }

  

    .banner-main-content ul li+li {
        margin-top: 12px;
    }

    .mobile-banner-content {
        box-shadow: 0px -3px 20px 11px rgba(255, 255, 255, 1);
    }

    .journey li+li {
        margin-top: 20px;
    }

  

    .filings {
        padding: 60px 0;
    }

    .filings h1 {
        font-size: 28px;
    }

    .filings-links {
        margin: 50px auto 0;
    }
    .footer-linkbody{
        .row{
            & > div{
                &:last-of-type{
                    margin-top: 35px;
                }
            }
        }
    }
    .coreTeam .team-box-img img {
        width: 307px;
        height: 325px;
    }
    .banner-main-content.banner-heading{
        padding-top: 0;
    }
    .coming-soon-content{
        margin: 16px 0;
    }
    .contact-info h3{
        font-size: 14px;
    }
    .news-detail h3 {
        font-size: 20px;}
    .news-item p, .abtinfo p, .news-detail p, .theme-list li, .market-content p, .theme-check-list li, .graph ul li {
        font-size: 20px;
    }
    .coreTeam .team-box h5{
        font-size: 16px;
    }
   
    .techBanner .techBanner-text h1, .abtBanner-title h1, .pipelinebanner h1, .immTitle h1, .cchatsbanner h1 {
        font-size: 50px;
    }
    .cancer-treatment .ct-heading{
        text-align: left;
    }
    .cancer-treatment .ct-heading p{
        margin-inline: 0;
        text-align: left;
    }
    .cancer-treatment .ct-heading h2{
        padding-top: 25px;
        font-size: 36px;
        line-height: 1.3;
        padding-bottom: 48px;
    }
    .cancer-treatment .ct-heading h3{
        font-size: 30px;
        padding-top: 0;
        margin-bottom: 30px;
    }
    .cancer-treatment .ct-heading p{
        font-size: 24px;
        max-width: 100%;
    }
    .cancer-treatment .ct-img {
        margin-bottom: 30px;
    }
    .cancer-treatment .ct-content{
        margin-left: 0;
    }
    .cancer-treatment::after {
        bottom: 854px;
    }
    .cancer-treatment .ct-content p{
        font-size: 20px;
    }
    .problem{
        padding-block: 57px;
    }
    .problem-content h3 {
        font-size: 30px;
    padding-bottom: 14px;
    margin-bottom: 29px;
    }
    .problem-content li{
        font-size: 20px;
    }
  
    .problem h2 {
        padding-top: 58px;
        font-size: 34px;
    }
    .solution{
        padding-bottom: 65px;
    }
    .solution-content h3 {
        font-size: 30px;
        padding-bottom: 14px;
        margin-bottom: 22px;
    }
    .solution-content li{
        font-size: 20px;
    }

    .solution-step{
        padding-top: 18px;
    }
    .solution-step h5{
        font-size: 24px;
        margin: 0;
        padding-bottom: 30px;

    }
    .solution-step .theme-btn{
        font-size: 18px;
        font-weight: 700;
        padding: 20px 23px;
    }
    .solution-step svg{
        width: 64px;
        height: 58px;
    }
    .solution-step h6{
        font-size: 24px;
        margin-bottom:0 ;
    }
    .treatment h3 {
        font-size: 30px;
        padding-bottom: 17px;
        margin-bottom: 17px;
    }
    .treatment-item h4{
        margin-top: 0;
        padding-bottom: 13px;
        font-size: 26px;
    }
    .treatment-item{
        padding-bottom: 38px;
    }
    .treatment{
        text-align: left;
        padding-block: 51px  15px;
    }

.remission h3{
    font-size: 30px;
}
.remission h6{
    font-size: 24px;
}
.remission p{
    font-size: 20px;
    line-height: 1.4;
}
.remission img{
    padding-block: 18px 33px;
}
.reducing-toxicity h3{
    text-align: left;
    font-size: 30px;
    margin-bottom: 45px;
}
.reducing-toxicity h5 {
    font-size: 24px;
}
.reducing-toxicity p{
    font-size: 20px;
}
.reducing-toxicity img {
    border-radius: 20px;
    margin-block: 30px;
}
.cold-tumors h5{
    font-size: 30px;
    line-height: 1.2;
}
.cold-tumors p {
    font-size: 20px;
}
.cold-tumors-img {
    padding-block: 30px;
}
.cold-tumors h3{
    font-size: 36px;
    line-height: 1.2;
}
.cold-tumors {
    padding-block: 56px;
}
.artificial-intelligence h3 {
    font-size: 30px;
    margin-bottom: 24px;
    text-align: left;
}
.artificial-intelligence p{
    font-size: 20px;
}
.artificial-intelligence li{
    font-size: 20px;
}
.artificial-intelligence {
    padding-block: 70px 70px;
}
.about-team-content {
    padding: 80px 0;
}
.about-team-content h2 {
    font-size: 36px;
}
.webinar {
    padding: 80px 0;
}
.invest-head h1 {
    font-size: 32px;
    line-height: 1.2;
}
.news-detail p, .news-detail a, .contact-title span, .contact-info p, .contact-info a {
    font-size: 20px;}
}